@media screen and (max-width: 800px) {
    .header-logo img {
        width: 65%;
        margin-top: 7px;
    }

    .hero-section {
        display: block;
        box-shadow: unset;
    }

    .hero-content {
        background: #fff;
        color: #000;
        padding: 0;
        min-width: 0;
    }

    .hero-content::after {
        content: unset;
    }

    .hero-content .btn-signup {
        display: none;
    }

    .hero-headline {
        font-size: 3rem;
        white-space: normal;
    }

    .hero-text {
        width: unset;
        font-size: 0.8125em;
    }

    .hero-img img {
        border-radius: 10px;
        margin-top: 40px;
    }

    .hero-section>.btn-signup {
        display: block;
        margin: 32px auto 10px;
        padding: 12px 35px;
    }

    .copyrights {
        margin-top: 50px;
        text-align: center;
    }
}